:root {
    --page-width: 985px;
    --book-free: #99ccff;
    --book-free-hover: #0099ff;
    --book-border: gray;
    --vp-free: #ff8080;
    --vp-extra: #80ff80;
    --vp-closed: #ffdf80;
    --vp-only: #ff80ff;
    --vp-marked-c: #000000;
    --vp-marked-b: 1px solid #000000;
}
@font-face { font-family: darleston; src: url(../res/darleston.otf); }
@font-face { font-family: respective; src: url(../res/respective.ttf); }


/********** STANDARDS **********/
html, body p, div, input, table, tr, td, img, b, span, form, a, select, option, h1, h2, h3, h4 { border: 0; margin: 0; padding: 0; font-weight: normal; font-family: Georgia, Times, "Times New Roman", serif;; }
a, textarea:focus, input:focus { outline: none; border: none; text-decoration: none; }
table { border-collapse: collapse; }
body { margin-top: 0px !important; padding-top: 0px !important; font-size: 12px; }


/********** GENERAL PURPOSE **********/
.centered { display: block; margin-left: auto; margin-right: auto; }
.blocky { box-sizing: border-box; width: var(--page-width); }
.fixcenter { position: fixed; display: block; box-sizing: border-box; top: 50%; left: 50%; transform: translate(-50%,-50%); }


/********** PAGE SPECIFIC **********/
/* GENERAL */
hr { box-sizing: border-box; border: none; border-top: 1px solid black; }
#img_food + p { column-count: 1; }

/* HEADER */
header { padding: 1em 1em 0; }
.top_titles { font-family: darleston; font-size: 3em; }

/* NAVIGATION (MENU) */
nav a { box-sizing: border-box; color: black; text-decoration: none; padding: 0 1.5em; }
nav > a:last-of-type { display: block; text-align: right; width: 100%; margin: -1.2em 0 -0.2em; }
nav a:hover { color: gray; }
nav hr { margin: 0.8em auto 0.7em; }

/* PAGE CONTENT */
main { padding: 0.5em 0 1em; }
main p { padding: 2em 0.25em 1.5em; column-count: 2; column-gap: 6em; text-align: justify; line-height: 1.5em; }
main a { text-decoration: underline; color: black; }
main b { font-weight: bolder; }
main img { width: 985px; }

/* FOOTER */
footer { text-align: center; font-size: 0.9em; }
footer a { color: black; text-decoration: none; }
footer hr { padding: 0 0 0.25em; }

/* IMAGE SELECTOR (DOUBLE CLICK) */
.img_selector_bg { z-index: 10; width: 100%; height: 100%; background: rgba(0,0,0,0.5); }
.img_selector { z-index: 12; width: 700px; height: 500px; border-radius: 8px; background: white; text-align: center; padding: 0.5em; overflow-y: scroll; }
.img_selector h3 { padding-top: 2em; }
.img_selector img { display: inline-block; width: 200px; vertical-align: middle; border: 0.5em solid white; box-sizing: border-box; }
.img_selector img:hover { border: 0.5em solid black; }

/* TEXT EDITOR (DOUBLE CLICK) */
.editables { -webkit-user-select: none; /* Safari 3.1+ */ -moz-user-select: none; /* Firefox 2+ */ -ms-user-select: none; /* IE 10+ */ user-select: none; /* Standard syntax */ } /* INFO: MAKES TEXT UNSELECTABLE TO ALLOW DOUBLE CLICKS */
.editor { display: inline-block; box-sizing: border-box; padding: 2em; border: 5px solid black; width: 985px; min-height: 1em; }
.editor:focus { border: 5px solid black; }


/********** INTRANET **********/
/* GENERAL */
#i_ p { column-count: 1; margin: 0; padding: 0; }

/* NAVIGATION (MENU) */
#i_ .sub { display: none; background: white; border: 1px solid black; position: absolute; margin-top: 21px; padding-bottom: 0.5em; }
#i_ .sub_book { margin-left: -78px; }
#i_ .sub_people { margin-left: -80px; }
#i_ .sub_admin { margin-left: -70px; }
#i_ .sub a { display: block; padding: 0.3em 1.2em; }

/* PAGE CONTENT */
#i_ .contentbox a { color: #09f; }
#i_ .contentbox .owner { cursor: pointer; }
#i_ .contentbox .owner:hover { color: black !important; }
#i_ .contentbox > div { padding: 1em; }
#i_ .contentbox h1 { width: 100%; text-align: center; margin: 0.5em auto 1.5em; }
#i_ .contentbox h2 { width: 100%; text-align: center; margin: 0 0 0.5em; }

/* LOGIN PAGE */
#login { text-align: center; }
#login input { display: block; margin: 2em auto; padding-bottom: 0.2em; border-bottom: 1px solid gray; width: 250px; text-align: center; }
#login input:last-child { border: none; background: none; color: #09f; }
#login a { display: block; margin: 2em auto; }

/* INFO PAGES */
#front { column-count: 3; line-height: 2em; } /* INFO: FORSIDE */
#food { line-height: 2.5em; margin: 0 160px; } /* INFO: MADPLAN */
#food i { padding-right: 0.5em; display: inline-block; width: 64px; }

#cal { line-height: 2em; } /* INFO: KALENDER */
#cal table { box-sizing: border-box; width: 100%; }
#cal td { box-sizing: border-box; padding-left: 60px; }
#cal > b { display: block; width: 100%; text-align: center; }
#cal i { display: inline-block; padding-right: 0.5em; }
#cal td p { line-height: 2em; }

#plan td, #plan td * { text-align: center; color: black; } /* INFO: VAGTPLANER */
#plan table { width: 100%; margin-top: 1em; border-collapse: collapse; }
#plan table td { padding: 0.5em 0; border: 1px solid gray; }
#explanation { width: 100%; text-align: center; }
#explanation span { padding: 0 2em; font-style: italic; }
#explanation p { text-align: center; color: gray; font-style: italic; }

#me { text-align: center; }
#me div { display: inline; text-align: left; vertical-align: top; }
#me div:last-child { padding: 2em 0 0 2em; }
#me p { display: inline-block; vertical-align: top; }
#me img { width: 200px; }

/* ALUMNER */
#current div div { column-count: 3; }
#current ._1 { margin-top: 2em; }
#current img { width: auto; height: 200px; display: none; position: fixed; border: 4px solid rgb(42,42,42); border-radius: 10px; }
#previous div { column-count: 3; }
#current b, #previous b { line-height: 2em; }

/* BOOKING SYSTEMS */
.cnt_book > a { font-size: 14px; padding: 1em; text-decoration: none; cursor: pointer; }
.cnt_book .availables { font-size: 10px; text-decoration: none; background: var(--book-free); padding: 0 0.6em; cursor: pointer; border-radius: 100%; }
.cnt_book .availables:hover { background: var(--book-free-hover); }

#laundry div { white-space: nowrap; column-count: 3; padding-top: 1em; }
#laundry div > p { box-sizing: border-box; margin: 0em 0em 0.5em 1em; padding-left: 2em; font-weight: bold; display: block; }
#laundry table { width: 300px; display: inline-block; border-collapse: collapse; padding-left: 1em; }
#laundry td { border: 1px solid var(--book-border); height: 30px; text-align: center; vertical-align: center; width: 32px; }
#laundry td:first-child { width: 42px; }
#laundry p i { font-weight: normal; font-style: normal; }

#bike div, #gym div { padding-top: 2em; width: 100%; }
#bike table, #gym table { width: 100%; display: block; box-sizing: border-box; border-collapse: collapse; }
#bike td, #gym td { border: 1px solid var(--book-border); height: 30px; text-align: center; vertical-align: center; width: 115px; }

#rooms div, #speaker div { padding-top: 0; width: calc(100% - 1em); }
#rooms div > p, #speaker div > p { box-sizing: border-box; margin: 2em 0em 0.5em 1em; padding-left: 2em; font-weight: bold; display: block; }
#rooms table, #speaker table { width: 100%; display: block; box-sizing: border-box; border-collapse: collapse; padding-left: 1em; }
#rooms td, #speaker td { border: 1px solid var(--book-border); height: 30px; text-align: center; vertical-align: center; width: 115px; overflow: hidden; text-overflow: clip; }
#speaker table { margin-top: 2em; }

/* TABLE FORMATTING */
.cnt_book tr:first-child td { font-style: italic; font-weight: bold; }
.cnt_book td:first-child { font-style: italic; }
.cnt_book tr:nth-child(2n) { background: rgba(0,0,0,0.1); }
#plan b:not(:first-child) { display: inline-block; margin-top: 40px; }

/* ADMIN MENU AND PAGES */
#admin { display: none; }
#i_ .admin_page #selector { display: flex; justify-content: center; }
#i_ .admin_page #selector input { width: 70px; text-align: center; font-size: 1.25em; border: 1px solid gray; margin: 0 1em; }
#i_ .admin_page select { font-size: 1.5em; border: 1px solid gray; margin: 0 1em; }
#i_ .admin_page a { text-decoration: none; display: inline-block; margin: 0 1em; padding: 0.5em; cursor: pointer; border: 1px solid var(--book-free); }
#i_ .admin_page a:hover { background: var(--book-free-hover); color: white !important; }
#i_ .admin_page #downloadFix { display: none; }

#i_ .admin_page .fweek { display: none; margin-bottom: 2em; }
#i_ .admin_page .fweek div { display: grid; grid-template-columns: 100px auto; grid-row-gap: 1.5em; justify-content: center; align-items: center; }
#i_ .admin_page .fweek h3 { font-style: italic; display: inline-block; }
#i_ .admin_page .fweek input { border: 1px solid gray; padding: 0.5em; width: 600px; }

#i_ .admin_page .alumner, #i_ .admin_page .dage { user-select: none; }
#i_ .admin_page i { display: block; width: 100%; text-align: center; margin-bottom: 1em; color: gray; user-select: none; }
#i_ .admin_page .alumner a { width: 30px; padding: 0.4em; margin: 0.25em; text-align: center; }
#i_ .admin_page .dage a { width: 42px; padding: 0.4em; margin: 0.25em; text-align: center; }
#i_ .admin_page .vp_free { background: var(--vp-free); color: var(--vp-marked-c); border: var(--vp-marked-b); }
#i_ .admin_page .vp_extra { background: var(--vp-extra); color: var(--vp-marked-c); border: var(--vp-marked-b); }
#i_ .admin_page .vp_closed { background: var(--vp-closed); color: var(--vp-marked-c); border: var(--vp-marked-b); }
#i_ .admin_page .vp_only { background: var(--vp-only); color: var(--vp-marked-c); border: var(--vp-marked-b); }
#i_ .admin_page .plan, #i_ .admin_page .plan table { width: 100%; }
#i_ .admin_page .plan td { width: 20%; padding: 0.5em; text-align: center; border: 1px solid rgba(0,0,0,0.1); }
#i_ .admin_page .plan tr { border-bottom: 1px solid gray; }
#i_ .admin_page .plan tr:first-child td { font-weight: bold; }
#i_ .admin_page .plan tr:not(:first-child) td:first-child { font-style: italic; font-weight: bold; }
#i_ .admin_page .plan tr:nth-child(odd) { background: rgba(0,0,0,0.1); }

/*#i_ #a_alumner #selector select { width: 600px; }*/
#i_ #ainfo { width: 100%; box-sizing: border-box; padding: 0 120px; display: grid; grid-template-columns: 50% 50%; grid-gap: 1em; margin: 0 0 1em; }
#i_ #ainfo h2 { grid-column: 1 / 3; }
#i_ #ainfo p { width: 100px; text-align: right; display: inline-block; color: gray; font-style: italic; }
#i_ #ainfo input { color: black; width: 200px; padding: 0.5em; margin: 0 1.4em; border: 1px solid gray; }
#i_ #a_alumner select { font-size: 1em; width: 215px; padding: 0.4em 0.5em; margin: 0 1.5em; background: rgba(0,0,0,0.05); }

/*#master { max-width: 950px; word-wrap: break-word; }*/

@media print {
  #i_ #a_vagtplan.admin_page > h1, #i_ #a_vagtplan.admin_page > div, #i_ #a_vagtplan.admin_page > br, #i_ #a_vagtplan.admin_page > h2, #i_ #a_vagtplan.admin_page > i { display: none; }
  #i_ #a_vagtplan.admin_page > .plan { display: block; }
  #i_ #a_vagtplan.admin_page > h2:last-of-type { display: block; margin: 1em 0 2em; }
}
