:root {
  --page-width: 985px;
  --book-free: rgba(153, 204, 255, 0.3);
  --book-free-hover: rgba(0, 153, 255, 0.6);
  --book-border: gray;
  --vp-free: #ff8080;
  --vp-extra: #80ff80;
  --vp-closed: #ffdf80;
  --vp-only: #ff80ff;
  --vp-marked-c: #000000;
  --vp-marked-b: 1px solid #000000;
  --v_link: #0099ff;
  --v_menu: #0055bb;
  --v_gray: gray;
  --std_link: #0099ff;
}
@font-face { font-family: darleston; src: url(../res/darleston.otf); }
@font-face { font-family: respective; src: url(../res/respective.ttf); }


/********** STANDARDS **********/
html, body p, div, input, table, tr, td, img, b, span, form, a, select, option, h1, h2, h3, h4 { border: 0; margin: 0; padding: 0; font-weight: normal; font-family: Georgia, Times, "Times New Roman", serif; }
a, textarea:focus, input:focus { outline: none; border: none; text-decoration: none; }
table { border-collapse: collapse; }
body { margin-top: 0px !important; padding-top: 0px !important; font-size: 12px; }


/********** GENERAL PURPOSE **********/
.centered { display: block; margin-left: auto; margin-right: auto; }
.blocky { box-sizing: border-box; width: var(--page-width); }
.fixcenter { position: fixed; display: block; box-sizing: border-box; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.dotdotdot { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }


/********** PAGE SPECIFIC **********/
/* GENERAL */
hr { box-sizing: border-box; border: none; border-top: 1px solid black; }
#img_food + p { column-count: 1; }

/* HEADER */
header { padding: 1em 1em 0; }
.top_titles { font-family: darleston; font-size: 3em; }

/* NAVIGATION (MENU) */
nav a { box-sizing: border-box; color: black; text-decoration: none; padding: 0 1.5em; }
nav > a:last-of-type { display: block; text-align: right; width: 100%; margin: -1.2em 0 -0.2em; }
nav a:hover { color: gray; }
nav hr { margin: 0.8em auto 0.7em; }

/* PAGE CONTENT */
main { padding: 0.5em 0 1em; }
main p { padding: 2em 0.25em 1.5em; column-count: 2; column-gap: 6em; text-align: justify; line-height: 1.5em; }
main a { text-decoration: underline; color: black; }
main b { font-weight: bolder; }
main img { width: 985px; }

/* FOOTER */
footer { text-align: center; font-size: 0.9em; }
footer a { color: black; text-decoration: none; }
footer hr { padding: 0 0 0.25em; }

/* IMAGE SELECTOR (DOUBLE CLICK) */
.img_selector_bg { z-index: 10; width: 100%; height: 100%; background: rgba(0,0,0,0.5); }
.img_selector { z-index: 12; width: 700px; height: 500px; border-radius: 8px; background: white; text-align: center; padding: 0.5em; overflow-y: scroll; }
.img_selector h3 { padding-top: 2em; }
.img_selector img { display: inline-block; width: 200px; vertical-align: middle; border: 0.5em solid white; box-sizing: border-box; }
.img_selector img:hover { border: 0.5em solid black; }

/* TEXT EDITOR (DOUBLE CLICK) */
.editables { -webkit-user-select: none; /* Safari 3.1+ */ -moz-user-select: none; /* Firefox 2+ */ -ms-user-select: none; /* IE 10+ */ user-select: none; /* Standard syntax */ } /* INFO: MAKES TEXT UNSELECTABLE TO ALLOW DOUBLE CLICKS */
.editor { display: inline-block; box-sizing: border-box; padding: 2em; border: 5px solid black; width: 985px; min-height: 1em; }
.editor:focus { border: 5px solid black; }


/********** INTRANET **********/
/* GENERAL */
#i_ p { column-count: 1; margin: 0; padding: 0; }

/* NAVIGATION (MENU) */
#i_ .sub { display: none; background: white; border: 1px solid black; position: absolute; margin-top: 21px; padding: 0.5em 0 0.5em; z-index: 100; }
#i_ .sub_book { margin-left: -78px; }
#i_ .sub_people { margin-left: -80px; }
#i_ .sub_admin { margin-left: -70px; }
#i_ .sub_information { margin-left: -56px; }
#i_ .sub_plenum { margin-left: -75px; }
#i_ .sub a { display: block; padding: 0.3em 1.2em; }

/* PAGE CONTENT */
#i_ .contentbox a { color: var(--std_link); text-decoration: none; }
#i_ .contentbox .owner { cursor: pointer; }
#i_ .contentbox .owner:hover { color: black !important; }
#i_ .contentbox > div { padding: 1em; }
#i_ .contentbox h1 { width: 100%; text-align: center; margin: 0.5em auto 1.5em; }
#i_ .contentbox h2 { width: 100%; text-align: center; margin: 0 0 0.5em; }

/* LOGIN PAGE */
#login { text-align: center; }
#login input { display: block; margin: 2em auto; padding-bottom: 0.2em; border-bottom: 1px solid gray; width: 250px; text-align: center; }
#login input:last-child { border: none; background: none; color: var(--std_link); }
#login a { display: block; margin: 2em auto; }

/* NEWS PAGE BOXES */
#news * { user-select: none; box-sizing: border-box; }
#news > a { display: block; text-decoration: none; color: var(--std_link); margin-bottom: 1em; width: 100%; text-align: center; }
#news .news_block { cursor: pointer; border-radius: 5px; margin: 8px; padding: 0; overflow: hidden; background-size: cover; background-position: center; border: 1px solid black; }
#news .information { width: 100%; height: 100%; color: black; display: grid; grid-template-rows: 40px auto 30px; }
#news .titles { position: relative; font-size: 1.2em; background: rgba(0,0,0,0.6); color: white; padding: 12px; padding-right: 70px; transition: background-color 0.5s, color 0.5s; }
#news .descriptions { overflow: hidden; padding: 10%; background: rgba(255,255,255,0); color: rgba(0,0,0,0); display: flex; justify-content: center; align-items: center; }
#news .spacetime { padding: 8px; background: rgba(255,255,255,0.85); font-style: italic; transition: background-color 0.5s, color 0.5s; text-align: right; }

#news .grid { position: relative; }
#news .item { position: absolute; }

/* INFO: SIZES TO BE USED WITH A FOUR COLUMN GRID */
/*#news .news_block.p1 { width: 456px; height: 316px; }
#news .news_block.p2 { width: 220px; height: 316px; }
#news .news_block.p3 { width: 220px; height: 150px; }*/

/* INFO: SIZES TO BE USED WITH A THREE COLUMN GRID */
#news .news_block.p1 { width: 616px; height: 416px; }
#news .news_block.p2 { width: 300px; height: 416px; }
#news .news_block.p3 { width: 300px; height: 200px; }

/* NEWS PAGE HOVER ANIMATION */
#news .news_block:hover .titles { background: rgba(255,255,255,0.95); color: black; }
#news .news_block:hover .spacetime { background: rgba(0,0,0,0.7); color: white; }

#news .titles i { display: block; position: absolute; top: 0; padding: 0.25em; }
#news .titles i:first-child { right: 0.25em; }
#news .titles i:first-child:hover { color: #f00; }
#news .titles i:last-child { right: 1.5em; }
#news .titles i:last-child:hover { color: #0d0; }


/* ADD NEWS PAGE */
#ev_menu { display: flex; justify-content: center; margin-bottom: 2em; }
#ev_menu a { margin: 0 2em; text-align: center; text-decoration: none; border: 1px solid var(--book-free); padding: 0.5em; }
#ev_menu a:hover { color: white; background: var(--book-free-hover); }
#ne_fields { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1em; padding: 0 100px; margin-bottom: 2em; }
#ne_fields div { display: grid; grid-template-columns: 80px auto; margin: 0 2em; align-items: center; }
#ne_fields input { border: 1px solid gray; padding: 0.5em; }
#ne_fields select { border: 1px solid gray; padding: 0.4em; background: rgba(0,0,0,0.05); }
#fp_ { background: rgba(0,0,0,0.05); }

/* INFO PAGES */
#front { column-count: 3; line-height: 2em; } /* INFO: FORSIDE */
#i_ #food { line-height: 2.5em; padding: 0 180px 2em; } /* INFO: MADPLAN */
#food i { padding-right: 0.5em; display: inline-block; width: 64px; }
#food h2 { padding-top: 2em; }

#i_ #cal { line-height: 2em; padding: 2em 120px; } /* INFO: KALENDER */
#cal table { box-sizing: border-box; width: 100%; }
#cal td { box-sizing: border-box; padding-left: 60px; vertical-align: top; }
#cal > b { display: block; padding-left: 60px; }
#cal i { display: inline-block; padding-right: 0.5em; }
#cal td p { line-height: 2em; }

#plan td, #plan td * { text-align: center; color: black; } /* INFO: VAGTPLANER */
#plan table { width: 100%; margin-top: 1em; border-collapse: collapse; }
#plan table td { padding: 0.5em 0; border: 1px solid gray; }
#explanation { width: 100%; text-align: center; }
#explanation span { padding: 0 2em; font-style: italic; }
#explanation p { line-height: 2; text-align: center; color: gray; font-style: italic; }

#me > div { margin: auto; display: grid; grid-template-columns: 230px auto; grid-gap: 2em; width: 600px; }
#me_info { display: block; background: rgba(0,0,0,0.1); border-radius: 8px; padding: 2em;}
#me_info span { display: block; margin: 0 0 1em; }
#me_info i { display: inline-block; width: 90px; }
#me_info input { padding: 0.5em; border-radius: 4px; width: 180px; }
#me_info .p_explained { width: 100%; text-align: center; color: gray; line-height: 2em; margin-bottom: 0; }

#me_pic { position: relative; }
#me_pic img { width: 225px; height: 300px; border-radius: 8px; object-fit: cover; }
#me #img_form { display: none; }
#i_ #img_new { color: rgba(0,0,0,0); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
#i_ #img_new i { font-size: 10em; }
#me_pic:hover img { filter: brightness(0.75); }
#me_pic:hover #img_new { color: white; cursor: pointer; }

/* ALUMNER */
#current > div, #previous div, #corridors { column-count: 3; }
#current ._1 { margin-top: 25px; padding-top: 25px; border-top: 1px solid lightgray; }
/* #current img { width: auto; height: 200px; display: none; position: fixed; border: 4px solid rgb(42,42,42); border-radius: 10px; } */
#current div div b { display: inline-block; margin-top: 1em; }
#changes > div { display: grid; grid-template-columns: repeat(3, 1fr); }
#i_ #changes h2 { text-align: left; margin: 1em 0; }
#changes h3 { font-weight: bold; margin-bottom: 0.5em;}
#changes > div > div > div { padding: 1em 0;  }
#changes ._0 { color: #292; }
#changes ._4 { color: #922; }
#corridors > div b { display: inline-block; padding-top: 1em; }
#current .present p:hover, #corridors p:hover { color: lightgray; cursor: pointer; }
#current b, #previous b, #changes b, #corridors b { line-height: 2em; }

#history select { font-size: 1.5em; border: 1px solid gray; padding: 0.5em; display: block; margin: 0.25em auto 1.5em; }
#h_years > div { display: none; }
#h_years h3 { font-weight:  bold; margin: 0.5em 0; }
#h_years i { font-size: 0.9em; color: darkgray !important; }
#h_years > div > div > div { display: grid; grid-template-columns: repeat(3, 1fr); margin-bottom: 2em; }
#h_years > div ._0 * { color: #292; }
#h_years > div ._4 * { color: #922; }

/* IMAGE GRID OF ALUMNI */
#photowall .wall { display: grid; grid-template-columns: repeat(6, 1fr); grid-row-gap: 2em; }
#photowall .wall div { width: 135px; height: 230px; border-radius: 8px; overflow: hidden; display: grid; grid-template-rows: 180px auto; }
#photowall .wall div img { width: 135px; height: 180px; object-fit: cover; }
#photowall .wall div p { padding: 0.5em; background: dimgray; color: white; text-align: left; }
#photowall .wall div:hover { cursor: pointer; }
#photowall .wall div:hover p { color: black; background: #eee; }
#photowall .wall div:hover img { filter: brightness(1.15); }

/* EXPANDED ALUMNE INFO */
#alumne { background: rgba(0,0,0,0.5); position: fixed; display: none; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; }
#alumne > div { min-height: 400px; background: white; border-radius: 5px; position: fixed; top: 120px; left: 50%; transform: translate(-50%,0); padding: 2em; display: grid; grid-template-columns: 300px 300px; grid-gap: 1em; }
#alumne img { display: block; height: 400px; width: 300px; border-radius: 4px; object-fit: cover; }
#alumne .txt { background: rgba(0,0,0,0.05); border-radius: 4px; padding: 2em; }
#alumne .txt h2 { padding-bottom: 1em; }
#alumne .txt p { padding-bottom: 3em; }
#alumne .txt b { display: block; }
#alumne .txt .his { display: grid; grid-template-columns: 110px auto; }

/* BOOKING SYSTEMS */
.cnt_book > a { font-size: 14px; padding: 1em; text-decoration: none; cursor: pointer; }
.cnt_book .availables { width: 100%; height: 100%; background: var(--book-free); display: block; }
/*.cnt_book .availables { font-size: 10px; text-decoration: none; background: var(--book-free); padding: 0 0.6em; cursor: pointer; border-radius: 100%; }*/
.cnt_book .availables:hover { background: var(--book-free-hover); }

#laundry div { white-space: nowrap; column-count: 3; padding-top: 1em; }
#laundry div > p { box-sizing: border-box; margin: 0em 0em 0.5em 1em; padding-left: 2em; font-weight: bold; display: block; }
#laundry table { width: 300px; display: inline-block; border-collapse: collapse; padding-left: 1em; }
#laundry td { border: 1px solid var(--book-border); height: 30px; text-align: center; vertical-align: center; width: 32px; }
#laundry td:first-child { width: 42px; }
#laundry p i { font-weight: normal; font-style: normal; }

#bike div, #gym div { padding-top: 2em; width: 100%; }
#bike table, #gym table { width: 100%; display: block; box-sizing: border-box; border-collapse: collapse; }
#bike td, #gym td { border: 1px solid var(--book-border); height: 30px; text-align: center; vertical-align: center; width: 115px; }

#rooms div, #speaker div { padding-top: 0; width: calc(100% - 1em); }
#rooms div > p, #speaker div > p { box-sizing: border-box; margin: 2em 0em 0.5em 1em; padding-left: 2em; font-weight: bold; display: block; }
#rooms table, #speaker table { width: 100%; display: block; box-sizing: border-box; border-collapse: collapse; padding-left: 1em; }
#rooms td, #speaker td { border: 1px solid var(--book-border); height: 30px; text-align: center; vertical-align: center; width: 115px; overflow: hidden; text-overflow: clip; }
#speaker table { margin-top: 2em; }

/* TABLE FORMATTING */
.cnt_book tr:first-child td { font-style: italic; font-weight: bold; }
.cnt_book td:first-child { font-style: italic; }
.cnt_book tr:nth-child(2n) { background: rgba(0,0,0,0.1); }
#plan b:not(:first-child) { display: inline-block; margin-top: 40px; }

/* GUIDES */
#guides .guide_cnt { display: none; border: 1px solid gray; border-radius: 8px; margin: 0 100px; padding: 20px; }
#guides > i { display: block; width: 100%; text-align: center; color: gray; padding-bottom: 1em; }
#guides > a { display: block; width: 100%; text-align: center; font-size: 1.5em; padding: 1em 0; }
#i_ #guides img { width: 100%; }
#guides li { padding: 0.5em 0.25em; line-height: 1.5em; }

/* ADMIN MENU AND PAGES */
#admin { display: none; }
#i_ .admin_page #selector { display: flex; justify-content: center; }
#i_ .admin_page #selector input { width: 70px; text-align: center; font-size: 1.25em; border: 1px solid gray; margin: 0 1em; }
#i_ .admin_page select { font-size: 1.5em; border: 1px solid gray; margin: 0 1em; }
#i_ .admin_page a { text-decoration: none; display: inline-block; margin: 0 1em; padding: 0.5em; cursor: pointer; border: 1px solid var(--book-free); }
#i_ .admin_page a:hover { background: var(--book-free-hover); color: white !important; }
#i_ .admin_page #downloadFix { display: none; }

#i_ .admin_page .fweek { display: none; margin-bottom: 2em; }
#i_ .admin_page .fweek div { display: grid; grid-template-columns: 100px auto; grid-row-gap: 1.5em; justify-content: center; align-items: center; }
#i_ .admin_page .fweek h3 { font-style: italic; display: inline-block; }
#i_ .admin_page .fweek input { border: 1px solid gray; padding: 0.5em; width: 600px; }

#i_ .admin_page .alumner, #i_ .admin_page .dage { user-select: none; }
#i_ .admin_page i { display: block; width: 100%; text-align: center; margin-bottom: 1em; color: gray; user-select: none; }
#i_ .admin_page .alumner a { width: 30px; padding: 0.4em; margin: 0.25em; text-align: center; }
#i_ .admin_page .dage a { width: 42px; padding: 0.4em; margin: 0.25em; text-align: center; }
#i_ .admin_page .vp_free { background: var(--vp-free); color: var(--vp-marked-c); border: var(--vp-marked-b); }
#i_ .admin_page .vp_extra { background: var(--vp-extra); color: var(--vp-marked-c); border: var(--vp-marked-b); }
#i_ .admin_page .vp_closed { background: var(--vp-closed); color: var(--vp-marked-c); border: var(--vp-marked-b); }
#i_ .admin_page .vp_only { background: var(--vp-only); color: var(--vp-marked-c); border: var(--vp-marked-b); }
#i_ .admin_page .plan, #i_ .admin_page .plan table { width: 100%; }
#i_ .admin_page .plan td { width: 20%; padding: 0.5em; text-align: center; border: 1px solid rgba(0,0,0,0.1); }
#i_ .admin_page .plan tr { border-bottom: 1px solid gray; }
#i_ .admin_page .plan tr:first-child td { font-weight: bold; }
#i_ .admin_page .plan tr:not(:first-child) td:first-child { font-style: italic; font-weight: bold; }
#i_ .admin_page .plan tr:nth-child(odd) { background: rgba(0,0,0,0.1); }

/*#i_ #a_alumner #selector select { width: 600px; }*/
#i_ #ainfo { width: 100%; box-sizing: border-box; padding: 0 120px; display: grid; grid-template-columns: 50% 50%; grid-gap: 1em; margin: 0 0 1em; }
#i_ #ainfo h2 { grid-column: 1 / 3; }
#i_ #ainfo p { width: 100px; text-align: right; display: inline-block; color: gray; font-style: italic; }
#i_ #ainfo input { color: black; width: 200px; padding: 0.5em; margin: 0 1.4em; border: 1px solid gray; }
#i_ #a_alumner select { font-size: 1em; width: 215px; padding: 0.4em 0.5em; margin: 0 1.5em; background: rgba(0,0,0,0.05); }


/* PLENUM RELATED STUFF */
#i_ #stem { text-align: center; }
#i_ #stem > p { color: gray; text-align: center; display: block; margin: auto; padding-bottom: 2em; }
#i_ #stem > p span { color: black; font-weight: bold; }
#i_ #stem > a { display: inline-block; padding: 1em; border: 1px solid var(--v_link); width: 160px; text-align: center; }
#i_ #stem > select, #i_ .v_3 > select { margin: 0 2em 3em; padding: 0.75em 1em; border: 1px solid var(--v_link); width: 300px; text-align: center; display: inline-block; color: var(--v_link); }
#i_ #stem > a:hover { color: white; background: var(--v_link); }
#i_ #v_menu { width: 100; text-align: left; }
#i_ #v_menu a { color: var(--v_menu); font-size: 14px; padding: 1em; text-decoration: none; cursor: pointer; }
/*#i_ #v_menu a:last-child { color: #e00; }*/
#i_ #v_cnt { margin: 2em 0; border: 1px solid lightgray; border-radius: 6px; text-align: center; }
#i_ #v_cnt > div { display: none; }
#i_ #v_cnt .v_code span { padding: 0.5em; color: white; border-radius: 6px; margin-left: 1em; font-size: 2em; }

#i_ #v_cnt > div h2 { padding: 1.5em 0 1em; }
#i_ #v_cnt > div > input { width: 60%; margin: 21px auto 22px; border: 1px solid var(--v_gray); padding: 1em; display: inline-block; }
#i_ #v_cnt > .v_1 input, #i_ #v_cnt > .v_2 input { border: 1px solid var(--v_gray); padding: 1em; }
#i_ #v_cnt > .v_1 .v_options, #i_ #v_cnt > .v_2 .v_options { display: grid; grid-gap: 1em; margin: 30px 15% 50px; grid-template-columns: 1fr 1fr; }
#i_ #v_cnt > .v_2 select { border: 1px solid var(--v_link); color: var(--v_link); padding: 10px 1em 11px; margin-right: 12px; display: inline-block; }
#i_ #v_cnt > .v_3 { padding-bottom: 3em; }
#i_ #v_cnt > div a { display: inline-block; margin: 1em 1em 4em; padding: 1em; border: 1px solid var(--v_link); }
#i_ #v_cnt > div a:hover { color: white; background: var(--v_link); }
#i_ .v_code { font-weight: bold; margin: 2em 0; }

#i_ #v_res { padding: 0 10%; width: 100%; box-sizing: border-box; display:block;  }
#i_ #v_res table { width: 100%; box-sizing: border-box; border-radius: 6px; overflow: hidden; }
#i_ #v_res td { padding: 1em 2em; background: #eee; }
#i_ #v_res thead { border-bottom: 2px solid gray; }
#i_ #v_res tbody td:first-child { border-right: 1px solid gray; text-align: left; }
#i_ #v_res tbody td:last-child { width: 100px; }
#i_ #v_res tbody tr:nth-child(odd) td { background: #ddd; }


#i_ .summaries, #i_ .files { display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 40px; margin: 2em 0 3em; }
#i_ .summaries a, #i_ .files a { display: grid; text-align: center; color: black; width: 140px; height: 140px; align-self: center; justify-content: center; align-items: center; font-size: 1.25em; border-radius: 80px; overflow: hidden; border: 1px solid gray; transition: background-color 0.5s, color 0.5s, border-radius 0.5s; box-sizing: border-box; padding: 1em; }
#i_ .summaries a:first-child, #i_ .files a:first-child { border: 3px solid var(--std_link); }
#i_ .summaries a:hover, #i_ .files a:hover { background-color: var(--std_link); color: white; border-radius: 0px; }

#i_ #l_form { display: block; margin: 5em auto 2em; width: 80%; }
#i_ #a_lists .options, #i_ #a_lists .date { display: grid; grid-gap: 1em; margin: 4em 0; }
#i_ #a_lists .options { grid-template-columns: repeat(5, 1fr); }
#i_ #a_lists .date { grid-template-columns: repeat(3, 1fr); }
#i_ #a_lists .date p { margin: 0; padding: 0; width: 100%; text-align: center; }
#i_ #a_lists a, #i_ #a_lists input, #i_ #a_lists select { background: #eee; color: black; display: block; font-size: 1.25em; padding: 0.5em; border: 1px solid var(--std_link); text-align: center; }
#i_ #a_lists a:hover, #i_ #a_lists input:hover, #i_ #a_lists select:hover { background: #cef; cursor: pointer; color: black; }
#i_ #a_lists .chosen { background: var(--std_link); color: white;  }
#i_ #a_lists .chosen:hover { background: var(--std_link); color: white;  }
#i_ #a_lists p { font-size: 1.25em; }
#i_ #a_lists .extra a { width: 50%; margin: 0 auto 5em; }
#i_ #a_lists form > input { background: white; color: var(--std_link); width: 40%; }
#i_ #a_lists form > input:hover { background: var(--std_link); color: white; cursor: pointer; }
#i_ #a_lists #downloadFix { display: none; }
#i_ #a_lists #l_allnone { width: 200px; margin: 3em auto 0; display: block; }


@media print {
  #i_ #a_vagtplan.admin_page > h1, #i_ #a_vagtplan.admin_page > div, #i_ #a_vagtplan.admin_page > br, #i_ #a_vagtplan.admin_page > h2, #i_ #a_vagtplan.admin_page > i { display: none; }
  #i_ #a_vagtplan.admin_page > .plan { display: block; }
  #i_ #a_vagtplan.admin_page > h2:last-of-type { display: block; margin: 1em 0 2em; }
}
